---
layout: single
classes: wide
---

{{content}}

 <center> <img width="800" src ="/assets/logos/SWEP_Logo.svg"> </center>

<p>
<br>
The STEAM (Science, Technology, Engineering, Arts, & Mathmatics) Work Experience Program is an opportunity for students to explore creative and technical fields through hands-on personal and group projects, expert presentations, and self-directed learning. In addition to learning new tools and STEAM skills, students will have the opportunity to develop general workplace skills including teamwork, time and project management, workplace communication, and shop safety. 
<br>
<br>


<!-- <img style="float: right" width="300" src ="/assets/logos/ODJ_Logo.png">
<br>
<br>
-->

This program is intended to help students identify their interests as they relate to potential career paths and develop those interests through individualized projects that build relevant skills. Students will be provided with an array of prototyping tools and corresponding safety trainings, personalized project development assistance, and access to a material and equipment budget to realize their projects. Students who successfully document their projects will also be given a platform to build an online portfolio, showcasing their skills and accomplishments.


</p>
<h2></h2>
<p align="center">
<img width="150" src ="/assets/logos/ODJ_Logo.png">
&nbsp;&nbsp;
<img width="275" src ="/assets/logos/PCC_logo.svg">
&nbsp;&nbsp;
<img width="250" src ="/assets/logos/fab_lab_logo.svg">
</p>
<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> 


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
-->